html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	background: #242424;
	border-bottom: 1px solid white;
	width: 100%;
	margin: 0;
	padding: 9px 0;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.75;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 0 10px;
}

.nav-right {
	float: right;
}

.nav-left {
	float: left;
}


nav a:hover {
	color: #999;
}

#logo {
	float: left;
	text-align: left;
	font-weight: 400;
	letter-spacing: .25em;
}

img.bg {
	min-height: 100%;
	min-width: 1024px;
	/* set up proportional scaling */
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.container {
	width: 100%;
}

.heading {
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 10%;
	font-weight: 300;
	letter-spacing: .1em;
	font-size: 4em;
}