html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #FFF;
}

.container {
	width: 100%;
}

div {
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.hidden {
	visibility: hidden;
}

/*====== header ======*/

div.header-container {
	background: #607D8B;
	width: 100%;
	height: 40px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: center;
}

div.header-container a,
div.header-container span {
	display: inline;
	text-decoration: none;
	color: white;
	padding: 0 10px;
	padding-bottom: 5px;
	line-height: 40px;
}

div.header-container a.selected {
	border-bottom: 5px solid #03A9F4;
}

div.header-container a:hover {
	color: #455A64;
}

a#name:hover {
	color: white;
}

span.links {
	position: absolute;
	right: 0;
}

/*====== landing ======*/

div.landing {
	position: absolute;
	top: 0;
	left: 0;
	height: 300px;
	width: 100%;
	background: #607D8B;
	background-size: cover;
	z-index: -1;
	border-bottom: 1px solid white;
	text-align: center;
}

.heading {
	padding-top: 2.5%;
	color: #FFF;
	font-weight: 300;
	letter-spacing: .075em;
	font-size: 3em;
	z-index: 1;
	animation: fade-in-down 0.6s;
}

.subheading {
	color: #CFD8DC;
	font-weight: normal;
	animation: fade-in-down 0.9s;
}

/*====== information ======*/

div.information {
	position: absolute;
	top: 300px;
	left: 0;
	height: 692px;
	width: 100%;
	border-bottom: 8px solid #B6B6B6;
}

div.information p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 60%;
	height: 500px;
	margin: auto;
	padding: 20px;
	font-weight: 300;
	letter-spacing: .1em;
	background-color: #ECEFF1;
	border: 1px solid black;
}


/*====== contact ======*/
div.contact {
	position: absolute;
	top: 1000px;
	height: 400px;
	width: 100%;
	text-align: center;
	background: #CFD8DC;
}

/*====== JS classes ======*/


/*====== Animations ======*/
	/*borrowed from ghost.js fade-in-down */

@keyframes fade-in-down {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}