/*=== universal ===*/

* {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
}

body {
	padding-top: 50px;
}


div.container-fluid.landing {
	padding: 0;
}

.underline {
	border-bottom: 5px solid #00BC62;
	color: #00BC62;
}

.fa-lg {
	font-size: 40px;
	margin: 0 5px;
}

.header {
	text-align: center;
}

/*=== navbar === */
nav.navbar {
	background-color: #056CAF;
	border-bottom: none;
}

.navbar-default .navbar-nav li a {
	color: #eee;
	font-weight: bold;
}

.navbar-default .navbar-nav li a:focus {
	color: #eee;
}

#logo {
	display: none;
	color: #eee;
}

/*=== splash ===*/

.jumbotron {
	color: #eee;
	margin-bottom: 0;
}

div.container-fluid div.jumbotron {
	text-align: center;
	border-radius: 0;
	background-color: #056CAF;
}

img#portrait {
	height: 400px;
	width: auto;
}

div.about-me {
	min-height: 500px;
	padding-top: 20px;
}

div.summary p {
	font-size: 1.2em;
}

.jumbotron a {
	text-decoration: none;
	color: white;
}

/*=== projects === */

div#project-selector-carousel {
	max-width: auto;
}

.carousel-inner img {
	width: auto;
	min-height: 300px;
}

div.projects {
	min-height: 500px;
	background-color: #fff;
}

div.project-header {
	text-align: center;
}

div.projects-info {
	margin-top: 10px;
}


/* === contact === */

div.contact {
	min-height: 450px;
	padding-top: 20px;
	background-color: #f7f7f7;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
}

div.contact h2 {
	text-align: center;
}

/*=== media queries ===*/

@media only screen and (max-width: 767px) {

	.underline {
		border-bottom: none;
	}
}

@media only screen and (max-width: 600px) {
	div.contact-card {
	}
}