/*=== universal ===*/

* {
	font-family: 'Open Sans', sans-serif;
}

body {
	padding-top: 50px;
}


div.container-fluid.landing {
	padding: 0;
}

.underline {
	border-bottom: 5px solid #00BC62;
	color: #00BC62;
}

.fa-lg {
	font-size: 40px;
	margin: 0 5px;
}

/*=== navbar === */
nav.navbar {
	background-color: #056CAF;
	border-bottom: none;
}

.navbar-default .navbar-nav li a {
	color: #eee;
	font-weight: bold;
}

.navbar-default .navbar-nav li a:focus {
	color: #eee;
}

#logo {
	display: none;
	color: #eee;
}

/*=== splash ===*/

.jumbotron {
	color: #eee;
}

div.container-fluid div.jumbotron {
	text-align: center;
	border-radius: 0;
	background-color: #056CAF;
}

img#portrait {
	height: 400px;
	width: auto;
}

div.about-me {
	min-height: 500px;
	padding-top: 20px;
}

div.summary p {
	font-size: 1.2em;
}

.jumbotron a {
	text-decoration: none;
	color: white;
}

/*=== projects === */

div#project-selector-carousel {
	max-width: auto;
}

.carousel-inner img {
	width: auto;
	min-height: 300px;
}

div.projects {
	min-height: 500px;
	background-color: #f7f7f7;
}

div.project-header {
	text-align: center;
}

div.projects-info {
	margin-top: 10px;
}


/* === contact === */

div.contact {
	min-height: 750px;
	padding-top: 20px;
	background-color: #777777;
}

div.contact-card {
	background-color: white;
}

div.contact label {
	margin: 0;
}

div.contact label:not(:first-child) {
	margin-top: 10px;
}

div.card-content {
	padding: 10px;
}

div.card-left {
	text-align: center;
}

div.card-right {
	text-align: center;
}

button#message-modal-button {
	margin: 0 auto;
	margin-top: 5px;
}

div.modal-body {
	text-align: center;
}

div.modal-body > label {
	text-align: left;
}

/*=== media queries ===*/

@media only screen and (max-width: 767px) {

	.underline {
		border-bottom: none;
	}
}

@media only screen and (max-width: 600px) {
	div.contact-card {
	}
}