/*=== universal ===*/

body {
	padding-top: 50px;
}

div.container-fluid.landing {
	padding: 0;
}

.hidden {
	display: none;
}

.underline {
	border-bottom: 5px solid #79b49b;
}

div.container-fluid div.jumbotron {
	text-align: center;
	border-radius: 0;
}

div.about-me {
	min-height: 500px;
	padding-top: 20px;
}

div.summary p {
	font-size: 1.2em;
}

div#project-selector-carousel {
	
}

.carousel-inner img {
	min-height: 100%;
	width: 100%;
}

div.projects {
	min-height: 500px;
	background-color: #e2e2e2;
}

div.project-header {
	text-align: center;
}

div.contact {
	min-height: 500px;
	padding-top: 20px;
}

div.contact label {
	margin: 0;
}

div.contact label:not(:first-child) {
	margin-top: 10px;
}

div.card-content {
	padding: 10px;
}